.pagination-item{
   margin: 10px;
   color: rgb(99, 97, 97);
   cursor: pointer;
   box-sizing:border-box;
   line-height: 20px;
   width: 25px;
   height: 25px;

}

.active{
border: 1px solid black;
border-radius: 50%;

}