.restoftitle__main{
    display: flex;
}
.serviseofyeaer{
    width: 400px;

}

.service{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

.servise__input{
    display: flex;
}

.servise__input input{
    margin-left: 10px;
}
.servise__input button{
    margin-right: 10px;
}